# Auto detect text files and perform LF normalization
* text=auto

# These files are text and should be normalized (convert crlf => lf)
# Custom for Visual Studio
*.cs      diff=csharp
*.xaml    merge=union
*.sln     merge=union
*.csproj  merge=union
*.vbproj  merge=union
*.fsproj  merge=union
*.dbproj  merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jepg    binary
*.jpg     binary

*.sdf     binary