framework: >= net35

source https://api.nuget.org/v3/index.json

nuget JetBrains.Annotations copy_local: true // => PrivateAssets=All, mean all these type of assets are private of the project (so no need to add the deps in the nupkg dep list)
nuget gitlink prerelease copy_local: true // => PrivateAssets=All, mean all these type of assets are private of the project (so no need to add the deps in the nupkg dep list)

nuget MahApps.Metro.IconPacks.Material
nuget Faker.Net

nuget WPFToolkit framework: net35
