framework: >= net45

source https://api.nuget.org/v3/index.json

nuget Fody
nuget Costura.Fody

// copy_local: true => PrivateAssets=All, mean all these type of assets are private of the project (so no need to add the deps in the nupkg dep list)
nuget JetBrains.Annotations copy_local: true
nuget gitlink prerelease copy_local: true

nuget MahApps.Metro.IconPacks prerelease
nuget Faker.Net

group cake
	source https://api.nuget.org/v3/index.json
	framework: net45
	
	nuget Cake
	nuget Cake.Figlet
	nuget Cake.Paket
	nuget Cake.Paket.Module
	nuget vswhere
	nuget GitVersion.CommandLine prerelease
	nuget gitreleasemanager
